.plus {
  color: #ff5252; }

html {
  background-color: white; }

p {
  color: white; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: white; }

a {
  transition: all 0.2s ease;
  color: white; }
  a:hover {
    color: #ff5252; }
  a:focus {
    color: white; }

.menu-content {
  background-color: rgba(0, 0, 0, 0.97); }

.toggle-icon {
  border-color: white; }
  .toggle-icon span {
    background-color: #ff5252; }

.rotated-menu .active a,
.horizontal-menu .active a {
  color: #ff5252; }

#contact-form label {
  color: white;
  border-bottom-color: white; }

textarea {
  color: white; }

input {
  color: white; }

.services-carousel span {
  color: white; }

.services-icon {
  background-color: white; }
  .services-icon:after {
    border-color: white; }

.portfolio-carousel a:after {
  background: rgba(255, 82, 82, 0.75); }

.portfolio-carousel a:before {
  color: white; }

.person-name {
  color: #ff5252; }

.carousel-arrow {
  color: white;
  border-color: white; }
  .carousel-arrow:hover {
    border-color: #ff5252;
    background-color: #ff5252;
    color: white; }

.carousel-overlay {
  background-color: rgba(22, 35, 47, 0.9); }

.clock-hover {
  background: white; }

.default-clock {
  color: white; }

.main-btn {
  color: white;
  border-color: white; }
  .main-btn:hover {
    color: white;
    background-color: #ff5252;
    border-color: #ff5252; }

.notify-input {
  border-color: white; }

.notify-input-btn {
  color: white; }
  .notify-input-btn:hover {
    color: #ff5252; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white !important;
  color: white !important; }

.promo-menu {
  background-color: #192632; }

.scientcraft a:hover {
  color: white; }

.demo-text {
  color: #192632;
  background-color: white; }

.demo a:hover:before {
  color: #ff5252; }

.demo a:hover:after {
  background-color: rgba(25, 38, 50, 0.9); }
